/* Hace que la página ocupe toda la pantalla */
html, body {
  height: 100%;
  margin: 0;
}

/*Ponemos el body un background color morado*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
/*Hacemos mas pequeña la imagen*/
#arbol_img {
  box-shadow: none;
  width: 30%;
}
/*Hacemos el titulo de distinto color*/
#titulo {
  color: white;
}
/*Hacemos que el header tenga los contenidos en la misma linea,  que esten alineados y centrado en el centro */
header {
  background-color: #00c01a;
  display: flex;
  gap: 5%;
  align-items: center;
}
/*Hacemos que el main tenga un color de fondo blanco*/
#contenidos {
  flex: 1;
  background-color: white;
  height: auto;
}
/*Quitamos el estilo de la lista*/
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
article {
  padding-top: 50px;
  padding-bottom: 50px;
}
/*Hacemos que el articulo este centrad*/
#art_index {
  width: 95%;
  margin: 0 auto;
}
/*Hacemos que los subtitulos tengan el color #00c01a*/
h2 {
  color: #00c01a;
}
/*Hacemos que las imagenes tengan un ancho y altura maximo y minimo por defecto (para mejor visualizacion en el responsive)*/
img {
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  max-height: 200px;
  box-shadow: 10px 10px 5px black;
}
/*hacemos que todos los parrafos de articulo tengan el color #00c01a*/
#art_index p {
  color: #00c01a;
}
/*Hacemos que el enlace tenga un color morado y que no tenga la linea debajo*/
a {
  color: #00c01a;
  text-decoration: none;
  font-size: large;
}
/*Aumentamos el tamaño de la letra de los parrafos*/
p {
  font-size: 1.1rem;
}
/*Añadimos espacios al iframe para que este centrado y tenga espacio de los contenidos de arriba*/
iframe {
  display: block;
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
  height: 300px;
}
/*hacemos que el footer este abajo del todo y que el color sus hijos sean blancos*/
footer {
  background-color: #00c01a;
  color: white;
}
/*Hacemos que el enlace de el footer sea de color blanco*/
footer a {
  color: white;
}
/*--------------------------------------------
                ANIMALIA
----------------------------------------------*/
/*Hacemos que los articulos de animalia esten en la misma linea, tenga un margen debajo ,este centrado y que tenga un espacio los contenidos entre si*/
.art_animalia {
  width: 50%;
  gap: 30px;
  margin: 0 AUTO;
  display: flex;
  color: #00c01a;
  align-items: center;
}
/*Hacemos mas pequeña la imagen de animalia*/
.img_animalia {
  width: 20%;
}
/*--------------------------------------------
                MONERA
----------------------------------------------*/
/*Hacemos mas pequeña la imagen de monera*/
.img_monera {
  width: 20%;
}
/*Hacemos que el articulo esten en linea, tenga espacio entre ellos y que este centrado*/
#art_monera {
  display: flex;
  gap: 50px;
  width: 50%;
  margin: 0 auto;
  color: #00c01a;
  align-items: center;
}
/*--------------------------------------------
                PLANTAE
----------------------------------------------*/
/*Hacemos mas pequeña la imagen de plantae*/
.img_plantae {
  width: 30%;
  height: 20%;
}
/*Hacemos que el articulo esten en linea, tenga espacio entre ellos y que este centrado*/
#art_plantae {
  display: flex;
  gap: 50px;
  width: 50%;
  margin: 0 auto;
  color: #00c01a;
  align-items: center;
}
/*--------------------------------------------
                FUNGI
----------------------------------------------*/
/*Hacemos que el articulo esten en linea, tenga espacio entre ellos y que este centrado*/
#art_fungi {
  gap: 50px;
  width: 50%;
  margin: 0 auto;
  color: #00c01a;
  align-items: center;
}
#container_info_1,
#container_info_2 {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
.img_fungi {
  object-fit: contain;
}

/*--------------------------------------------
                PROTISTA
----------------------------------------------*/
/*Hacemos mas pequeña la imagen de protista*/
.img_protista {
  width: 60%;
}
/*Hacemos que el articulo esten en linea, tenga espacio entre ellos y que este centrado*/
#sec_protista {
  gap: 50px;
  width: 50%;
  margin: 0 auto;
  color: #00c01a;
  align-items: center;
}
/*#container_protista_info1,
#container_protista_info2 {
  display: flex;
  gap: 50px;
  align-items: center;
}*/
#container_protista_info1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-areas: "img_protista_1 info_1";
}
#img_1 {
  grid-area: img_protista_1;
}
#info_1 {
  grid-area: info_1;
}
#container_protista_info2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-areas:
    "img_protista_2 info_2"
    "img_protista_3 info_2";
}
#info_2{
  grid-area: info_2;
}
#img_2{
  grid-area: img_protista_2;
}
#img_3{
  grid-area: img_protista_3;
}
#container_protista_info2 div img {
  margin-bottom: 20px;
}

/*Si el tamaño del dispostivo es menor que 550 pixeles:*/
@media screen and (max-width: 550px) {
  /*Hacemos que todos los contenidos esten centrados para mejor visualizacion*/
  body {
    text-align: center;
  }
  /*Hacemos que todos los contenidos esten en columna y centrados*/
  article {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  /*Hacemos que la lista este en columna (bloque)*/
  nav ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  /*Centramos la lista*/
  nav ul li {
    padding: 10px;
  }
  #container_protista_info1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img_protista_1"
      "info_1";
  }
  #img_1 {
    grid-area: img_protista_1;
    display: block;
    margin: 0 auto;
  }
  #info_1 {
    grid-area: info_1;
  }
  #container_protista_info2 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-template-areas:
    "img_protista_2"
    "info_2"
    "img_protista_3";
}
#info_2{
  grid-area: info_2;
  margin: 0 auto;
}
#img_2{
  grid-area: img_protista_2;
  margin: 0 auto;
}
#img_3{
  grid-area: img_protista_3;
  margin: 0 auto;
}
  /*Para poner los contenidos en columna el contenedor de imagen texto de la pagina de fungi*/
  
  #container_info_1,
  #container_info_2 {
    display: flex;
    flex-direction: column;
  }

}
