.titulo {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}
#layout_pesadillas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "art_1 art_2 art_3";
}
.art_1 {
  grid-area: art_1;
}
.art_2 {
  grid-area: art_2;
}
.art_3 {
  grid-area: art_3;
}
.img_pesadilla {
  width: 300px;
}
.card_pesadilla {
  position: relative;
  width: 300px;
  text-align: center;
  background-color: transparent;
  perspective: 1000px;
}

.card_interior {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s;
}
.card_pesadilla:hover .card_interior {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background-color: #eb0000;
  color: black;
}

.back {
  color: black;
  transform: rotateY(180deg);
  background-color: aquamarine;
}
.text_card{
  height: 100%;
  font-size: 1.1rem;
  margin-top: 30%;
  text-align: center;
}
