html {
  font-family: "PT Mono", monospace;
  scroll-behavior: smooth;
}

/* ================= HEADER ================= */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px; /* 75px content_fix + navbar */
  z-index: 10;
}

/* Parte superior del header */
.content_fix {
  background-color: rgb(242, 244, 247);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#logotipo {
  width: 75px;
  height: 75px;
}

#menu_icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* ================= NAVBAR ================= */

.navbar {
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(231, 235, 241);
  border-radius: 0 0 20px 20px;
}

.list {
  display: flex;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
}

.contenido_list {
  padding: 10px;
}

.contenido_list a {
  position: relative;
  text-decoration: none;
  color: black;
}

/* Línea animada */
.contenido_list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.contenido_list a:hover::after {
  transform: scaleX(1);
}

/* ================= MENÚ LATERAL ================= */

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  padding-top: 140px; /* Para que no tape el header */
  border-radius: 0 20px 20px 0;
  background-color: rgb(245, 240, 240);
  transition: width 0.5s ease;
  overflow-x: hidden;
  z-index: 9;
}

/* Cuando el menú está activo */
#menu.active {
  width: 250px;
}

#list_menu {
  list-style: none;
  display: none;
  padding: 0;
}

#menu.active #list_menu {
  display: block;
}

#list_menu li {
  text-align: center;
  width: 90%;
  padding: 15px 0;
  margin: 30px auto;
  transition: background-color 0.3s;
}

#list_menu li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

#list_menu li:hover {
  border-radius: 10px;
  background-color: white;
}
/* ================= Principal ================= */
#img_info {
    position: relative;
    margin-top: 120px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
#img_info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Capa semitransparente */
}
#title_img_info {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}
#info_img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

#art_info {
background-color: rgb(231, 235, 241);}
#art_form {
    background-color: rgb(231, 235, 241);
}