html {
  font-family: "PT Mono", monospace;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px; /* suma content_fix + navbar */
  z-index: 10;
}
.content_fix {
  background-color: rgb(242, 244, 247);
  height: 75px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
#logotipo {
  width: 75px;
  height: 75px;
}
#menu_icon {
  width: 60px;
  height: 60px;
}
.navbar {
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(242, 244, 247);
  border-radius: 0px 0px 20px 20px;
}
.list {
  display: flex;
  list-style: none;
  width: 90%;
  justify-content: space-between;
}
.contenido_list {
  padding: 10px;
}
.contenido_list a {
  position: relative;
  text-decoration: none;
  color: black;
}
.contenido_list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.contenido_list a:hover::after {
  transform: scaleX(1);
}
#menu {
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: rgb(245, 240, 240);
  transition: width 0.5s ease;
  z-index: 1;
}
#list_menu {
  list-style: none;
  display: none;
}
#list_menu li {
  display: block;
  text-align: center;
  width: 90%;
  padding: 15px 0;
  margin: 50px 0;
}
#list_menu li a {
  color: black;
  text-decoration: none;
}
#list_menu li:hover {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
main {
  margin-top: 170px;
}
#sec_1 {
  background-color: rgb(0, 0, 0);
}
#noticias {
  margin-top: 40px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
}
#noticias::-webkit-scrollbar {
  display: none;
}
.grupo {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  gap: 1rem;
  animation: carrousel 40s infinite linear;
}
.anuncio {
  transition: 0.75s;
  height: 500px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px rgb(190, 190, 190);
  border-radius: 20px;
  overflow: hidden;
  /*Ponemos esto para que la clase contacto se pueda ubicar al final del articulo (anuncio)*/
  display: flex;
  flex-direction: column;
}
.anuncio:hover {
  cursor: pointer;
  transition: 0.75s;
  box-shadow: 0px 2px 14px rgb(54, 54, 54);
  transform: translateY(-10px);
}
.container_img {
  margin-top: 5px;
  height: 40%;
  overflow: hidden;
}
.img_anuncio {
  width: 95%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
}
.container_info {
  width: 95%;
  margin: 0 auto;
}
.contacto {
  display: flex;
  margin-top: auto;
  height: 100px;
  background-color: aliceblue;
  align-items: center;
  gap: 10px;
}
.contacto img {
  width: 70px;
  height: 70px;
}
.contacto_info {
  font-size: 0.6rem;
}
.contacto_info span {
  color: gray;
}
@keyframes carrousel {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
/*
-----------------------------------------------------
Parte de la 2 seccion, del juego destacado
-----------------------------------------------------
*/
#sec_2 {
  width: 100%;
  background-color: black;
}
#title_ofertas {
  color: white;
  text-align: center;
  padding: 10px;
}
#ofertas {
  display: flex;
  justify-content: space-around;
  position: relative;
}
#img_oferta {
  display: block;
  width: 40%;
}
.space {
  margin-top: 50px;
}
#panel_oferta {
  font-size: 1.1rem;
  width: 30%;
  height: 40%;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  margin: auto 0;
}
#precio {
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
}
/*
---------------------------------------------------
Apartado para el section 3. Juegos
---------------------------------------------------
*/

#sec_3 {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: black;
}
#container_img_game {
  width: 200px;
  height: 200px;
  background-color: white;
  position: relative; /* clave */
  overflow: hidden; /* opcional, por si el span sobresale */
}

#container_img_game img {
  width: 100%;
  height: 100%;
}
#container_img_game:hover {
  transition: 0.75s;
  transform: scale(1.2);
}
#precio_game {
  position: absolute;
  bottom: 5px; /* distancia desde abajo */
  right: 5px; /* distancia desde la derecha */
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 14px;
}
#grid_games {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
/*
---------------------------------------------------
Apartado para el media
---------------------------------------------------
*/
@media screen and (max-width: 966px) {
  #ofertas {
    flex-direction: column;
    align-items: center;
  }
  #img_oferta {
    display: block;
    height: 60%;
    margin-bottom: 40px;
  }
  #panel_oferta {
    font-size: 0.8rem;
    width: 30%;
    height: 40%;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
  }
  #precio {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 550px) {
  .anuncio {
    width: 300px;
    height: 300px;
  }
  .container_info h2 {
    font-size: 0.8rem;
  }
  .container_info p {
    font-size: 0.7rem;
    overflow: auto;
    height: 60px;
  }
  .container_img {
    margin-top: 5px;
    height: 60%;
    overflow: hidden;
  }
  #list_menu li {
    display: block;
    text-align: center;
    width: 90%;
    padding: 15px 0;
    margin: 60px 0;
  }
  .img_anuncio {
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
  }
  #panel_oferta {
    width: 60%;
  }
}
@media screen and (max-width: 450px) {
  #centrar {
    text-align: center;
  }
  #menu {
    border-radius: 0px;
  }
}
