#container_top {
  display: flex;
  gap: 50px;
}
#container_info {
  display: flex;
}
#container_info p {
  margin: 0;
}
.orange {
  color: orangered;
}
#container_form{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "nombre comentario"
    "email comentario"
    "phone comentario";
    gap: 15px;
}
.nombre{
    grid-area: nombre;
}
.email{
    grid-area: email;
}
.phone{
    grid-area: phone;
}
.nombre,.phone,.email{
    border: none;
    border-bottom: 3px solid black;
}
.campo_comentario{
    display: flex;
    flex-direction: column;
    grid-area: comentario;
}
#btn
{
    background-color: none;
    float: right;
}